---
layout: post
title: Blog
group: navigation
tags : [learn, partners, expertise]
author : Axurcio
css: 
js:
keywords: services, offers, assessments
canonical: https://axurcio.com/learn
---
{% include JB/setup %}


{% for post in site.posts %}
	  <div class="blog-block post-content-area">
	   {% if post.img %}	  
            <img class="img-fluid img-thumbnail" src="{{ BASE_PATH }}/assets/images/{{ post.img }}" alt="{{ post.title }} image">
	   {% endif %}	  
            <div class="blog-post">
              <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
	      <p>{{ post.excerpt }}</p>
              <a class="btn btn-common" href="{{ BASE_PATH }}{{ post.url }}">Read More</a>
            </div>
          </div>
	  <div class="mb-60"></div>
{% endfor %}

